{% extends "base.html" %}
{% block title %}To-Do List{% endblock %}
{% block content %}
<h1 align="center">To-Do List</h1>
<ul class="list-group list-group-flush" id="todos">
    {% for todo in user.todos %}
    <li class = "list-group-item">{{ todo.data }}
        <a href="/update/{{todo.id }}" class="btn btn-warning rounded-pill px-3 float-right" type="button">Update</a>
       <button class="btn btn-danger rounded-pill px-3 float-right" type="button" onClick="deleteTodo({{ todo.id }})">Delete</button>
    </li>
    {% endfor %}
</ul>
<h2 align="center">Would you like to add another item?</h2>
<form method="POST">
    <textarea name="todo" id="todo" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-success rounded-pill">Add Item</button>
    </div>
</form>

{% endblock %}